h1{
    padding: 40px;
}

.get{
    padding: 10px;
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 10px;
    background-color: cadetblue;
    color: white;
    margin: 40px;
}

.getImage{
    padding: 20px;
    margin: 30px;
}

.image{
    margin: 20px;
    display: inline-block;
}